<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="supermarket.manage.system.repository.mysql.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="supermarket.manage.system.model.domain.User">
            <id property="uId" column="u_id" jdbcType="INTEGER"/>
            <result property="uName" column="u_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="uPermission" column="u_permission" jdbcType="TINYINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        u_id,u_name,password,
        u_permission,update_time,create_time,
        is_deleted
    </sql>
</mapper>
