<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="supermarket.manage.system.repository.mysql.mapper.FinanceMapper">

    <resultMap id="BaseResultMap" type="supermarket.manage.system.model.domain.Finance">
        <id property="fId" column="f_id" jdbcType="INTEGER"/>
        <result property="recordTime" column="record_time" jdbcType="TIMESTAMP"/>
        <result property="fType" column="f_type" jdbcType="INTEGER"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="sId" column="s_id" javaType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        f_id,record_time,f_type,
        amount,remark,update_time,
        create_time,is_deleted
    </sql>


    <update id="updateBysId" parameterType="java.lang.Integer">
        update finance
        set is_deleted = 1
        where s_id = #{sid};
    </update>
    <select id="selectallbysid" resultMap="BaseResultMap">
        select *
        from finance
        where s_id=#{sid};
    </select>
    <select id="getByTime" resultMap="BaseResultMap">
        select *
        from finance
        where
        ( is_deleted = 0
        and
        DATEDIFF(create_time,#{time})=0
        )
        order by create_time desc;

    </select>

    <select id="getByType" resultMap="BaseResultMap">
        select *
        from finance
        where
        ( is_deleted = 0
        and
         f_type = #{type}
        )
        order by create_time desc;
    </select>
</mapper>
